
table.docutils td, table.docutils th {
    padding:0; margin:0;
}
/*
.dataTables_no_scroll_x
{
    table-layout:fixed;
    width: 98% !important; 
}*/

.dataTables_scrollBody{
    width: 98%
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 0px
}

table.dataTable>thead .sorting::before,
table.dataTable>thead .sorting_asc::before,
table.dataTable>thead .sorting_desc::before,
table.dataTable>thead .sorting_asc_disabled::before,
table.dataTable>thead .sorting_desc_disabled::before {
    right: 0 !important;
    content: "" !important;
}
  
 table.dataTable>thead .sorting::after,
 table.dataTable>thead .sorting_asc::after,
 table.dataTable>thead .sorting_desc::after,
 table.dataTable>thead .sorting_asc_disabled::after,
 table.dataTable>thead .sorting_desc_disabled::after {
    right: 0 !important;
    content: "" !important;
}
  
 table.dataTable>thead>tr>th:not(.sorting_disabled),
 table.dataTable>thead>tr>td:not(.sorting_disabled) {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
  
 table.dataTable>thead>tr>th,
 table.dataTable>thead>tr>td {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

table.dataTable th div.dt-column-header 
{
    flex-direction: row !important;
}

div.dt-container>div.row
{
    --bs-gutter-x: 0 !important;
}
